/* Navigation Bar adapted from: https://codepen.io/WhisnuYs/pen/XWdpdGP */

.nav-bar {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    width: 100%;
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: #272727;
    z-index: 1000;
}

.nav-list {
    display: inline-block;
    justify-content: space-between;
}
  
  .nav-list button {
    color: #f6f4e6;
    background: none;
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    /* flex: 1; Allocate equal space to each button */
    text-align: center;
    padding: 10px 15px; /* Adjust padding to control button size */
  }
  
  .nav-list button:last-child {
    margin-right: 0; /* No margin for the last button */
  }
  
  .nav-bar button:hover {
    color: #fddb3a;
  }
  
  